{{set . "title" "About Grassfed"}}
{{template "header.html" .}}

<div class="row" style="padding: 50px 15px;">
    <h2>Why?</h2>
    <p>It is that time of year again to start monitoring what we consume not only to lose
    weight but also to make sure we're not consistently going overboard and doing more
    damage than good.</p>
    
    <h2>How do I use it?</h2>
    <p>It is actually quite simple. Simple click on "My Profile" in the upper right-hand
    corner and log in using Google+. Once authenticated a new account will be configured
    for you and now it is time to use it.</p>
    <p>The interface is minimalistic to reduce clutter as well as make it as user friendly
    as possible. To adjust your goal of daily calories just use the sliding bar. To add
    some type of food and its calories do so and click add. Made a mistake? Go ahead and click
    on the "fire" icon to burn your trash.</p>

    <h2>Where is this heading?</h2>
    <p>Actually this started as a demonstration of using the Go programming language. Typically
    it is nice to create an application you may use while learning something new so this
    application was born.</p>
    <p>Other than that there is no clear direction. We'll continue to update it as long as
    it feels like we are using it. Feel free to fork the codebase and do what you want (with
    respect to the license) or run it locally for you and your family and friends.</p>

    <h2>More information</h2>
    <p>Feel free to contact us from our website at
    <a href="http://www.revolvingcow.com" title="Revolving Cow">http://www.revolvingcow.com</a> or
    our <a href="https://plus.google.com/+Revolvingcow" title="Google+ profile">Google+ page</a>.</p>
</div>

{{template "footer.html" .}}
