<div id="authentication" class="row" style="padding: 40px 15px;">
    <div class="col-md-offset-4 col-md-4">
        <h1></h1>

        <img src="/public/img/signup.png" />

        <p>
            <!--<span id="signinButton">
                <span
                    class="g-signin"
                    data-callback="onAuthentication"
                    data-clientid="903785837828-lfsps917vkth7c88em9ieq0l0d0p35kb.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-requestvisibleactions=""
                    data-scope="profile">
                </span>
            </span>-->
        </p>
    </div>
</div>
